[submodule "src/models/_vendor"]
	path = src/models/_vendor
	url = https://github.com/felixgontier/dcase-2023-baseline.git
	branch = main
[submodule "src/models/_vendor_enclap"]
	path = src/models/_vendor_enclap
	url = https://github.com/jaeyeonkim99/EnCLAP.git
